/* input[type="checkbox"] {
  display: none;
}

.checkmark {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  background-color: #fff;
}

input[type="checkbox"]:checked + .checkmark {
  background-color: #f00;
}

.checkmark::after {
  content: "";
  display: none;
}

input[type="checkbox"]:checked + .checkmark::after {
  display: block;
} */
